a {
    color: var(--main-color);
}

a:hover {
    color: var(--tertiary-color);
}

h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    background: var(--secondary-color);
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 15px;
    font-size: 16px;
}

button:hover {
    color: var(--lightest-text);
    cursor: pointer;
}

.exercise-wrapper {
    padding: 0 25px;
    margin: 15px 0;
    max-width: 1200px;

}

.when-logged-in {
    float: right;
}

.when-logged-in a {
    float: right;
    text-align: left;
    line-height: 15px;
    margin-bottom: 5px;
}
