a {
    color: var(--main-color);
}

a:hover {
    color: var(--tertiary-color);
}

.exercise-wrapper {
    padding: 0 25px;
    margin: 15px 0;
    max-width: 1000px;
}

.workout {
    width: 600px;
    margin: 0 auto;
}
