.input {
    width: 50%;
    float: right;
}

#input-add {
    border: 1px solid var(--lightest-text);
}

.exercise-text {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid var(--lightest-text);
    border-bottom: 1px solid var(--main-color);
    border-radius: 4px 0 0 4px;
    height: 30px;
    width: 300px;
    position: relative;
    margin-left: 40px;
    padding-left: 10px;
    font-size: 16px;
}

.exercise-button {
    height: 30px;
    width: 80px;
    font-size: 16px;
    background-color: var(--main-color);
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
    color: var(--lightest-text);
    position: absolute;
    cursor: pointer;
    margin: 0;
}

.exercise-button:hover {
    color: white;
}
