
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown select {
    background-color: var(--secondary-color);
    color: var(--lightest-text);
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
}

select:hover {
    color: white;
}
