:root{
    --main-color: #5592c8;
    --secondary-color: #f8b71d;
    --tertiary-color: #373f46;
    --dark-color: #1b242c;
    --light-text: #ADB3B9;
    --lightest-text: whitesmoke;

    /*--primary-font:*/

}
